@import "tailwindcss";
@theme {
  --font-avantgarde-book: "Avant Garde", "Century Gothic", "Avenir Next", Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}
body {
    font-family: "Montserrat", "Zen Maru Gothic", system-ui, sans-serif;
    font-weight: 300;
}