@import "tailwindcss";
@theme {
  --font-avantgarde-book: "Avant Garde", "Century Gothic", "Avenir Next", Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Inter, sans-serif;
    background-color: #301934;
    color: #e0e7ff;
}