---
import "../styles/global.css";
---

<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title> Portfolio | Ashleigh M</title>
    </head>

    <body class="bg-gradient-to-b from-[#c3b1e1] to-[#301934] text-white min-h-screen">
      <slot />
    </body>
</html>        